.intro {
  background-color: var(--color-primary);
  color: var(--background-primary);
}

.information-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.intro-title,
.intro-text {
  margin: 0;
}

.intro-text {
  text-align: justify;
}

.about {
  color: var(--color-primary);
}

@media screen and (min-width: 768px) {

  .intro-title {
    font-size: 3rem;
  }

  .intro-text {
    font-size: 1.4rem;
    margin: 0;
  }

  .information-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
  }

}