.contact-form-container {
  padding: 24px;
  color: var(--color-primary);
  font-family: 'Alice';
}

#contactForm {
  display: flex;
  flex-direction: column;
}

h2 {
  margin-top: 0;
  text-align: center;
}

.user-input {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  font-family: 'Alice'
}

textarea {
  resize: vertical;
}

.submit-button {
  background-color: var(--background-primary);
  color: var(--color-primary);
  border: none;
  border-radius: 16px;
  padding: 12px 26px;
  font-size: 16px;
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-self: center;
  font-family: 'Alice'
}

.submit-button:hover {
  background-color: var(--background-secondary);
  color: var(--color-primary);
}