:root {
  --background-primary: #E09891;
  --background-secondary: #E8B9AB;
  --background-tetriary: #ADBCA5;
  --color-primary: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-tetriary);
  font-family: 'Alice', 'Times New Roman', Times, serif;
}

.logo {
  width: 20%;
  height: auto;
}

.topnav {
  overflow: hidden;
  background-color: var(--background-primary);
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.menu-item {
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.1rem;
  display: block;
  color: var(--color-primary);
  background: var(--background-secondary);
}

.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
}

.hamburger {
  width: 50%;
  height: auto;
}

.topnav a:hover {
  background-color: var(--background-primary);
  color: var(--color-primary);
}

.hero-img-mobile {
  display: flex;
  height: auto;
  width: 100%;
}

.hero-img {
  display: none;
}

.intro-header {
  display: none;
}

.main {
  flex-grow: 1;
}

.footer {
  background-color: var(--background-primary);
  color: var(--color-primary);
  padding: 16px;
}

@media screen and (min-width: 768px) {

  .logo {
    width: 30%;
  }

  .icon {
    display: none;
  }

  .intro-header {
    font-size: 4rem;
    color: var(--color-primary);
    align-self: center;
    display: block;
  }

  .hero-img {
    display: block;
    width: auto;
    height: 100%;
    border-radius: 16px;
    border: solid var(--color-primary);
  }

  .hero-img-mobile {
    display: none;
  }

  .hero-img-container {
    gap: 50px;
    padding: 16px 16px 16px 40px;
    display: flex;
    justify-content: flex-start;
    max-height: 500px;
    background: #ADBCA5;
    background: linear-gradient(113deg, rgba(173, 188, 165, 1) 0%, rgba(224, 152, 145, 1) 50%, rgba(232, 185, 171, 1) 100%);
  }

  .topnav #myLinks {
    display: flex;
  }

  .topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 40px;
  }

  .menu-item {
    background-color: var(--background-primary);
    font-size: 1.4rem;
  }

  .menu-item:hover,
  .active-page {
    text-decoration: underline var(--color-primary);
    text-underline-offset: 10px;
  }

}