:root {
  --background-primary: #E09891;
  --background-secondary: #E8B9AB;
  --background-tetriary: #ADBCA5;
  --color-primary: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-tetriary);
  font-family: 'Alice', 'Times New Roman', Times, serif;
}

.header-logo {
  display: contents;
}

.logo {
  width: 20%;
  height: auto;
}

.topnav {
  overflow: hidden;
  background-color: var(--background-primary);
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.menu-item {
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.1rem;
  display: block;
  color: var(--color-primary);
  background: var(--background-secondary);
}

.icon {
  background: var(--background-primary);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.5rem;
  color: var(--color-primary);
  padding: 20px 16px;
}

.topnav a:hover {
  background-color: var(--background-primary);
  color: var(--color-primary);
}

.header-item {
  display: none;
}

.hero-img {
  height: auto;
  width: 100%;
  cursor: pointer;
}

.hero-link {
  display: flex;
}

.main {
  flex-grow: 1;
}

.footer {
  background-color: var(--background-primary);
  color: var(--color-primary);
  padding: 16px;
}