.main {
  display: flex;
  flex-direction: column;
}

.intro {
  background-color: white;
  color: var(--background-primary);
}

.intro-title,
.intro-text {
  margin: 0;
}

.intro-text {
  text-align: justify;
}

.contact-button {
  font-family: 'Alice';
  background-color: var(--background-primary);
  color: var(--color-primary);
  border: none;
  border-radius: 16px;
  padding: 12px 26px;
  font-size: 16px;
  cursor: pointer;
}

.contact-button:hover {
  background-color: var(--background-secondary);
  color: var(--color-primary);
}

.information-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.learn-more {
  font-size: 2rem;
  color: var(--color-primary);
  margin: 0;
}

.learn-more-buttons {
  display: flex;
  justify-content: space-around;
}

.learn-more-button {
  font-family: 'Alice';
  background-color: var(--background-primary);
  color: var(--color-primary);
  border: none;
  border-radius: 16px;
  aspect-ratio: 1;
  font-size: 20px;
  cursor: pointer;
  height: 100%;
  border: solid var(--color-primary);
}

.learn-more-button:hover {
  background-color: var(--background-secondary);
  color: var(--color-primary);
}

@media screen and (min-width: 768px) {

  .intro-title,
  .learn-more {
    font-size: 3rem;
  }

  .intro-text,
  .contact-button,
  .learn-more-button {
    font-size: 1.4rem;
    margin: 0;
  }

  .learn-more-buttons {
    justify-content: flex-start;
    gap: 50px;
    padding: 0;
  }

  .information-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
  }

}