.intro {
  background-color: var(--color-primary);
  color: var(--background-primary);
}

.projects {
  color: var(--color-primary);
}

.information-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.projects-intro {
  background-color: var(--color-primary);
  padding: 24px;
  color: var(--background-primary);
}

.intro-title {
  margin: 0;
}

.intro-text {
  text-align: justify;
  margin: 0;
}

.projects-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.projects-item {
  margin: 8px 0;
  background-color: var(--background-tetriary);
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
}

.project-name,
.project-link {
  text-decoration: none;
  color: var(--color-primary);
  text-decoration: underline solid white;
}

@media screen and (min-width: 768px) {

  .intro-title {
    font-size: 3rem;
  }

  .intro-text {
    font-size: 1.4rem;
    margin: 0;
  }

  .information-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
  }

  .projects-item {
    width: 49%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .projects-container {
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
  }

  .project-name,
  .project-link {
    font-size: 1.4rem;
  }

}