@font-face {
  font-family: 'Alice';
  src: url('../fonts/Alice-Regular.woff2') format('woff2'),
    url('../fonts/Alice-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}